<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.levelupseon.demo3.mapper.MemberMapper">
  	<insert id="insert">	
  	<!-- id : sql문 구분(insert,select, update, delete) -->
  	insert into tbl_member(id, pw, name, email) values (#{id}, #{pw}, #{name}, #{email})
  	</insert>
  	<select id="findById" resultType="member">
  	<!-- resultType : select문 실행 결과 담을 객체-->
  	select * from tbl_member where id = #{id}
  	</select>
  </mapper>